
/*------------------ cores ------------------*/
:root{
  --bg: #121212;
  --feat: #ff3e00;
  --white: #ffffff;
  --black: #121212;
}
/*------------------ reset ------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*------------------ site ------------------*/
body{ 
  font-family: 'Cabin', sans-serif;
  background-color: var(--bg);
  color: var(--white);
}
h1,h2,h3{
  font-family: 'Roboto Condensed Variable', sans-serif;
  line-height: 1.2;
  font-weight: normal;
}
h1{
  font-size: calc(36 / 16 * 1rem);
}
p{
  font-size: calc(18 / 16 * 1rem);
}
.wrap{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
}
.btn{
  color: var(--white);
  font-size: 1rem;
  border: 1px solid var(--white);
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms;
}
.btn:hover{
  background-color: var(--white);
  color: var(--black);
  transition: 125ms;
}